h1 {
	background: #e3e3e3;
	height: 100px;
	color: black;
	font-size: 60px;
	padding: 10px;
	padding-top: 40px;
	padding-bottom: 40px;
font-family: 'Montserrat', sans-serif;
}

p {
	font-size: 30px;
	background: black;
	padding: 20px;
	color: white;
}

h2 {
	font-size: 40px;
	color: white;
}

body {
	background: black;
font-family: 'Montserrat', sans-serif;
}

#hp {
	float: right;
	margin: 0 0 0 15px;
	padding-right: 100px;
	}

h3 {
	color: black;
	text-align: center;
	font-size: 45px;
	padding: 20px;
	background: #e3e3e3;
}

h4 {
	text-align: center;
	padding-right: 400px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.centered {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 90px;
	opacity: 0.9;
}

.box {
	background: #e3e3e3;
	margin: 0;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    .contact {
    	padding-left: 400px;
    }

